.imageCard{
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(226, 226, 226);
}
.tags{
    display: flex;
    color: #3f2b22;
}
.icon{
    width: 25px;
    height: 25px;
    padding-top: 12px;
}
.house-picture{
    justify-items: center;
    border-radius: 10px;
}
.price{
    color: #3D1301;
}